[Unit]
Description=nightowl bets payout
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=/etc/nightowl
ExecStart=/usr/local/bin/nightowl payout-svc --config config.yaml
ExecStop=/bin/kill -15 $MAINPID
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target